@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
    --blanco: #ffffff;
    --corporativo: #632599;
    --grisClaroFondo:#e2e2e2;
    --negro:#000;
    --verde: #87fd7c;
    --rosa: #ff76e1;
    --amarillo:#ffea76;
    --azul: #76dfff;
    --morado:#b361ff;
    --naranja: #fd9051;
    --rojo:#ff4444;

}

*{
    margin: 0%;
    padding: 0%;

    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;

    
    background-color: var(--grisClaroFondo);
}

/* header */

header{
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: var(--corporativo);

    position: fixed;
}

header img{
    padding: 0px 8.5vw;

    height: 90%;
}



/* navegador  nav */

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    
    width: 80vw;

    position: fixed;

    margin: 93px 0px;
    padding-top: 10px;
    padding: 10px 0vw;

    
    background-color: var(--grisClaroFondo);
}

section.nav ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
}



.linea{
    display: flex;
    justify-content: flex-end;

    
    width: 20%;
    height: 30px;
    
    border-bottom: var(--negro) solid 2px;
}

div.linea img{
    padding-top: 5px;
    width: 24px;
    height: 24px;
}


/* section primero nav */

.primero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;

    width: 80vw;
    height: 80vh;

    margin-top: 180px;
}



/* section primero contenido */

.texto{

    text-align: center;
    font-size: 40px;
}


/* cajita de palabras */

.palabras{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    width: 43vw;
}

.cajita{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    height: 15px;
    padding: 8px 20px 8px 15px;

    border-radius: 15px;

    font-size: 15px;
}

.cajita img{
    width: 18%;
}



.verde{
    background-color: var(--verde);    
    width: 90px;
}

.rosa{
    background-color: var(--rosa);    
    width: 100px;
}


.amarillo{
    background-color: var(--amarillo);    
    width: 120px;
}

.azul{
    background-color: var(--azul);    
    width: 110px;
}

.morado{
    background-color: var(--morado);    
    width: 120px;
}

.naranja{
    background-color: var(--naranja);    
    width: 130px;
}

.rojo{
    background-color: var(--rojo);    
    width: 100px;
}


/* contador */

.contador{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 57vw;
}


.contadorCaja{
    display: flex;
    flex-direction: column;

    width: 7vw;

    text-align: center;
    font-size: 15px;
    color: #632599;
}

.numeros{
    font-size: 30px;
}



/* section segundo */

.segundo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

    
    background-color: #632599;
    color: white;

    padding: 5vh 0px;

}

.segundo h1{
    padding-bottom: 2vw;
}

.contenidoSegundo{
    width: 60vw;
}

/* noticias */

.noticias{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.noticias article{
    width: 13vw;
    height: 30vh;

    font-size: 11px;
    text-align: center;
}


.noticias article div{
    width: 13vw;
    height: 20vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    margin-bottom: 20px;
}

.CastoresCabulleria{
    background-image: url(../img/noticias/castoresCabulleria.jpg);
}

.ManadaMximas{
    background-image: url(../img/noticias/manadaMaximas.jpg);
}