*{
    margin: 0%;
    padding: 0%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;

    
    background-color: #e2e2e2;
}

/* header */

header{
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: #632599;

    position: fixed;
}

header img{
    padding: 0px 8.5vw;

    height: 90%;
}



/* navegador  nav */

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
    width: 80vw;

    position: fixed;

    margin: 93px 0px;
    padding-top: 20px;

    
    background-color: #e2e2e2;
}

section.nav ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
}



.linea{
    display: flex;
    justify-content: flex-end;

    
    width: 20%;
    height: 30px;
    
    border-bottom: black solid 2px;
}

div.linea img{
    padding-top: 5px;
    width: 24px;
    height: 24px;
}


/* section primero nav */

section.primero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;

    padding: 100px 0px;

    width: 80vw;
    height: 80vh;

    padding: 110px 0px;
}



/* section primero contenido */

.texto{

    text-align: center;
    font-size: 40px;
}


/* cajita de palabras */

.palabras{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    width: 43vw;
}

.cajita{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    height: 15px;
    padding: 8px 20px 8px 15px;

    border-radius: 15px;

    

    font-size: 15px;
}

.cajita img{
    width: 18%;
}



.verde{
    background-color: #87fd7c;    
    width: 90px;
}

.rosa{
    background-color: #ff76e1;    
    width: 100px;
}


.amarillo{
    background-color: #ffea76;    
    width: 120px;
}

.azul{
    background-color: #76dfff;    
    width: 110px;
}

.morado{
    background-color: #b361ff;    
    width: 120px;
}

.naranja{
    background-color: #fd9051;    
    width: 130px;
}

.rojo{
    background-color: #ff4444;    
    width: 100px;
}


/* contador */

.contador{
    display: flex;
    flex-direction: row;
    gap: 5vw;
}


.contadorCaja{
    display: flex;
    flex-direction: column;

    width: 7vw;

    text-align: center;
    font-size: 15px;
    color: #632599;
}

.numeros{
    font-size: 30px;
}



/* section segundo */

section.segundo{
    width: 100vw;
    

    padding: 0px 8.5vw;

    background-color: #632599;
}